.comment {
  width: 90%;
  margin: auto;
  border: 1px solid black;
}

.comment div {
  display: inline-block;
  float: left;
  width: 100%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.upvote, .downvote, .score {
  text-align: center;
}