.waifu {
  box-sizing: border-box;
  float: left;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: black;
  position: relative;
  background-size: cover;
  background-position: top center;
}

.waifu .cover {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
  position: absolute;
}

.waifu .cover:hover {
  background-color: rgba(255, 0, 0, 0.2);
  cursor: pointer;
}

.tier {
  background-color: #222222;
  width: 100%;
  height: 200px;
  border: 1px solid white;
}

.rank {
  font-size: 6em;
  font-weight: bold;
  font-family: sans-serif;
  width: 10%;
  height: 100%;
  float: left;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.droppable {
  display: inline-block;
  float: left;
  width: 90%;
  height: 100%;
  overflow-x: auto;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}